
.block1{
    background-image: url("../img/1.jpg")no-repeat center center ;
}
.block2{
    background-image: url("../img/1.jpg")no-repeat center center;
}
.block3{
     background-image: url("../img/1.jpg")no-repeat center center;
 }
.block4{
    background-image: url("../img/1.jpg")no-repeat center center;
}
